<div id="slideOpencart" class="sidenav">
  <div style="padding: 49px 37px; display:flex; flex-direction: column; justify-content: space-between; height: 100%;">
    <div>
      <div style="display:flex; justify-content: end; margin-bottom: 96px">
        <div style="width: calc(50% + 28px); display: flex; align-items: center; justify-content: space-between">
          <img src="{{section.settings.logo | img_url: 'small'}}" />
          <img
            src="{{section.settings.close-icon | img_url: 'small'}}"
            onclick="closeSlideOpencart()"
            style="cursor: pointer;" />
        </div>
      </div>
      {% if cart.item_count > 0 %}
        {% for item in cart.items %}
          <div style="display: flex; align-items: center; justify-content: space-between">
            <img src="{{item.image | image_url: width: 38, height: 78}}" />
            <div>
              <p style="font-family: 'Ogg'; font-style: normal; font-weight: 400; font-size: 24px; line-height: 32px; color: var(--kin-black-color);">{{ item.product.title }}</p>
              <p class="body-roman-sm" style=" color: var(--kin-black-color); ">Single bottle, ${{ item.product.price | divided_by: 100.00 | json }}</p>
              <p class="universe-14-31" style="letter-spacing: 0.777778px; text-transform: uppercase; color: var(--kin-black-color); ">
                <span>-</span>
                <span style="font-weight: bolder;">{{ cart.item_count }}</span>
                <span>+</span>
              </p>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0706/8103/5071/files/close-icon.png?v=1673602273" style="width: 18px; height: 18px; cursor: pointer;">
          </div>
          <hr style="border: 2px solid #272727; margin: 14px 0 18px" />
          <div style="display: flex; align-items: center; justify-content: space-between; ">
            <p style="font-family: 'Univers'; font-size: 11px; line-height: 20px; letter-spacing: 0.458333px; text-transform: uppercase; color: #2B2B2B; ">Subtotal</p>
            <p class="universe-14-31" style="letter-spacing: 0.777778px; text-transform: uppercase; color: #2D2D2D; font-weight: bolder;">${{ cart.item_count | times: item.product.price | divided_by: 100.00 }}</p>
          </div>
        {% endfor %}
      {% else %}
        <p style="font-family: 'Ogg'; font-style: normal; font-weight: 400; font-size: 40.32px; line-height: 53px; text-align: center; color: var(--kin-black-color);">Your cart is thirsty.</p>
      {% endif %}
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <button style="width: 341px; height:39px; margin: 0 auto; background: #1D1D1D;"></button>
      <hr style="border: 1px solid #2B2B2B; width: 127px; margin: 38px auto 55px;" />
    </div>
  </div>
</div>
<div id="main"></div>
<script>
  /* Set the width of the side navigation to 0 */
  function closeSlideOpencart() {
    document.getElementById("slideOpencart").style.width = "0";
  }
</script>
{% schema %}
  {
    "name": "slide-opencart",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo Upload"
      }, {
        "type": "image_picker",
        "id": "close-icon",
        "label": "Close Icon Upload"
      }
    ]
  }
{% endschema %}